<div class="menu">
  <app-left-sidebar [isLeftSidebarCollapsed]="isLeftSidebarCollapsed()"
    (changeIsLeftSidebarCollapsed)="changeIsLeftSidebarCollapsed($event)">
  </app-left-sidebar>

  <a routerLink="/" target="_self"><img ngSrc="assets/logo1.png" width="1228" height="819" id="logo" priority /></a>
  <!-- Usuário NÃO logado -->
<button
  *ngIf="!usuarioLogado"
  class="fas fa-user"
  mat-icon-button
  (click)="abrirLogin()">
</button>

<!-- Usuário logado -->
<button
  *ngIf="usuarioLogado"
  mat-icon-button
  [matMenuTriggerFor]="menuUsuario"
  class="fas fa-user">

</button>
 <mat-menu #menuUsuario="matMenu" class="menu-usuario">
  
  <button mat-menu-item (click)="meuPerfil()">
    <mat-icon>person</mat-icon>
    <span>Meu Perfil</span>
  </button>


  <button mat-menu-item (click)="meusPedidos()">
    <mat-icon>shopping_bag</mat-icon>
    <span>Meus Pedidos</span>
  </button>

  <button mat-menu-item (click)="minhasViagens()">
    <mat-icon>flight</mat-icon>
    <span>Minhas Viagens</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Sair</span>
  </button>
</mat-menu>
</div>

<router-outlet></router-outlet>

<app-footer *ngIf="showMeuComponente"></app-footer>