// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
  height: 100%;
  background: #faf9f9;
}

:root {
  --img-designer: url("/Designer.png");
  --img-bonito: url("/local/bonito-ms.jpg");
  --img-california: url("/local/california-eua.jpg");
  --img-grecia1: url("/local/grecia1.png");
  --img-japao: url("/local/japao.jpg");
  --img-praia: url("/local/ilheus-ba.jpg");
  --img-riodejaneiro: url("/local/rio-de-janeiro.jpg");
  --img-roma: url("/local/roma-italia.jpg");
  --img-salvador: url("/local/salvador-ba.jpg");
  --img-saopaulo: url("/local/sao-paulo.jpg");
}


.box-back,
.box-back2,
.box-back3,
.box-back4,
.box-back5,
.box-back6,
.box-back7,
.box-back8{
  background-size: cover;
  text-align: center;
}
.imgbox,
.imgbox2,
.imgbox3,
.imgbox4,
.imgbox5,
.imgbox6,
.imgbox7,
.imgbox8{
border-radius: 10px 10px 0px 0px;
height: 120px;
background-size: cover;
text-align: center;
}

.box {
  height: 500px;
  width: 330px;
  border-radius: 10px;
}

.box-front {
  background-color: #f8dfba4b;
}

section.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
}
.espaco{
  height: 1300px;
}


@font-face {
  font-family: "Beach";
  src: url("app/fontes/BebasNeue-Regular.otf");
  font-weight: bold;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
} 


.prod {
  margin-top: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  font-size: 1em;
}


#logo {
  margin-left: 80px;
  margin-top: 10px;
  width: 100px;
  height: 50px; 
}

.fa-user {
  margin-top: 15px;
  margin-right: 10px;
  float: right;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 30px;
  font-weight:900;
  cursor: pointer;
  border: none;
  background-color: #fa7b04;
  color:#fff;
}
.fa-user:hover {
  background-color: #881df2;
  transition: all 0.1s ease-in-out 0s;
}

.menu-usuario {
  background-color: #fa7b04;
  color: #000000;
  font-weight: bolder;
  font-size: 1em;
}
.menu-usuario button {
  color: #000000;
  font-weight: bolder;
  font-size: 1em;
}
.menu-usuario button:hover {
  color: #fa7b04;
  transition: all 0.4s ease-in;
}








